/* Existing CSS here... */

/* Custom CSS for laporan-pendapatan.html */
#tanggal-form {
    margin-bottom: 20px;
}

.logout {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 10px 15px;
    color: white;
    background-color: #dc3545;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.logout:hover {
    background-color: #c82333;
}

#laporan-container {
    margin-top: 20px;
    max-height: 1000px; /* Atur tinggi maksimum yang diinginkan */
    overflow-y: scroll; /* Munculkan scroller vertikal jika perlu */
}

#laporan-table {
    margin-top: 20px;
    max-height: 10px; /* Atur tinggi maksimum yang diinginkan */
    overflow-y:50px; /* Munculkan scroller vertikal jika perlu */
}

table {
    width: 100%;
    border-collapse: collapse;
    max-height: 10px; /* Atur tinggi maksimum yang diinginkan */
    overflow-y:5px; /* Munculkan scroller vertikal jika perlu */
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f8f8f8;
    font-weight: 500;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #a9a9a9;
}
